.todo-form {
  display: flex;
  justify-content: center;
}

.todo-form-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 5px;
}

.todo-form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 11px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #b8b8b8;
}

.todo-form-input:focus {
  outline: 2px solid black;
  outline-offset: -1px;
} 

.todo-form-input.error:focus{
  outline: 2px solid red;
  outline-offset: -1px;
}

.helper-text {
  color: red;
  line-height: 1.66;
  text-align: left;
  margin-left: 14px;
  font-size: 12px;
}

.todo-form-button {
  text-transform: uppercase;
  height: 41px;
  padding: 12px;
  background-color: #458ef7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.todo-form-button:hover {
  background-color: #3672cb;
}

.error {
  border-color: red;
  animation: shake 0.5s;
}

.shake {
  border-color: red;
  animation: shake 0.3s;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
		}
}
